CONFIG_OS_ZEPHYR = y
CONFIG_QUARK_SE = y
CONFIG_ARC = y
CONFIG_CFW_PROXY = y
CONFIG_INFRA = y
CONFIG_IPC = y
CONFIG_TCMD = y
CONFIG_TCMD_ASYNC = y
CONFIG_TCMD_SLAVE = y
CONFIG_CFW_SERVICES_TEST = y
CONFIG_LOG_CBUFFER = y
CONFIG_LOG_CBUFFER_SIZE = 1024
CONFIG_WORKQUEUE = y
CONFIG_SBA = y
CONFIG_GPIO = y
CONFIG_SOC_GPIO_AON = y
CONFIG_SERVICES_QRK_SE_GPIO_IMPL = y
CONFIG_SERVICES_QRK_SE_ADC_IMPL = y
CONFIG_SOC_GPIO = y
CONFIG_BMI160 = y
CONFIG_SENSOR_CORE = y
CONFIG_PSH_CORE = y
#CONFIG_OPEN_CORE = y
CONFIG_SERVICES_SENSOR_IMPL = y
CONFIG_SENSOR_CORE_ALGO = y
CONFIG_SENSOR_CORE_ALGO_COMMON = y
CONFIG_SENSOR_CORE_ALGO_UDG = y
CONFIG_PVP_DRV = y
CONFIG_PANIC = y
CONFIG_PM = y
CONFIG_PM_PUPDR = y
CONFIG_USB_PM = y
CONFIG_SENSOR_CORE_ALGO_TAPPING = y
CONFIG_SENSOR_CORE_ALGO_SIMPLEGES = y
CONFIG_SENSOR_CORE_ALGO_STEPCOUNTER_ACTIVITY = y
#CONFIG_SENSOR_CORE_ALGO_BIKE = y
#CONFIG_SENSOR_CORE_ALGO_SLEEP = y
CONFIG_EXTERNAL_DIRECTORIES =  $(T)/firmware/packages/intel/sensors/algo/activity_algos/src/ $(T)/firmware/packages/intel/sensors/arcdrivers/ $(T)/firmware/devices/quark_se_arduino101/src/
CONFIG_SS_ADC = y
CONFIG_SS_GPIO = y
CONFIG_SS_SPI = y
CONFIG_SS_I2C = y
