CONFIG_BOARD_ARDUINO101=y
CONFIG_OS_ZEPHYR=y
CONFIG_LOG_MULTI_CPU_SUPPORT=y
CONFIG_LOG_SLAVE=y
CONFIG_LOG_CBUFFER=y
CONFIG_WORKQUEUE=y
CONFIG_PM_PUPDR=y
CONFIG_CFW=y
CONFIG_MEM_POOL_DEF_PATH="$(PROJECT_PATH)/arc/"
