CONFIG_OS_ZEPHYR = y
CONFIG_OS_ZEPHYR_MDEF = minimal.mdef
CONFIG_EXTERNAL_DIRECTORIES = $(T)/arduino101_firmware/devices/quark_se_arduino101/src/
CONFIG_QUARK_SE = y
CONFIG_QUARK = y
CONFIG_CFW_MASTER = y
CONFIG_OS_ZEPHYR_MICROKERNEL = y
CONFIG_INFRA = y
CONFIG_IPC = y
CONFIG_PANIC = y
CONFIG_LOG_CBUFFER = y
CONFIG_LOG_CBUFFER_SIZE = 2048
CONFIG_WORKQUEUE = y
CONFIG_SBA = y
CONFIG_PM = y

