CONFIG_BOARD_ARDUINO101=y
CONFIG_QUARK=y
CONFIG_OS_ZEPHYR=y
CONFIG_MEM_POOL_DEF_PATH="$(PROJECT_PATH)/quark/"
CONFIG_OS_ZEPHYR_MICROKERNEL=y
CONFIG_OS_ZEPHYR_MDEF="usb_app.mdef"
CONFIG_LOG_MULTI_CPU_SUPPORT=y
CONFIG_LOG_CBUFFER=y
CONFIG_LOG_CBUFFER_SIZE=2048
CONFIG_SOC_COMPARATOR=y
CONFIG_SOC_GPIO=y
CONFIG_SOC_GPIO_32=y
CONFIG_SOC_GPIO_AON=y
CONFIG_SERVICES_QRK_SE_GPIO_IMPL=y
CONFIG_SPI_FLASH_W25Q16DV=y
CONFIG_USB_PM=y
CONFIG_PM_PUPDR=y
CONFIG_USB_ACM=y
CONFIG_CFW=y
CONFIG_CFW_PROXY=y
CONFIG_ARDUINO101_NO_DEBUG_PRINTS=y
CONFIG_ZEPHYR_CONF_FILE="$(PROJECT_PATH)/prj-arduino101.conf"
CONFIG_FAT_FS=y
